@import _vars.sass
    
html
    font-size: 15px
    
body
    margin: 0
    font-family: 'Montserrat', sans-serif
    font-size: 1rem
    color: $black

*, *:after *:before
    box-sizing: border-box
